html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 32em;
  background-color: #212d40; }
  header:last-child {
    margin-right: 0; }

img {
  width: 100%;
  height: 100%;
  background: url(logo.png) center center no-repeat; }

.logo {
  width: 14em;
  height: 18em;
  padding-top: 3.6em;
  margin: 0 auto; }

.header-words h1 {
  color: white;
  text-align: center;
  font-size: 3.1em;
  margin-top: .5em;
  font-family: Merriweather; }

.header-words h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  font-family: Raleway; }

.header-buttons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .header-buttons:last-child {
    margin-right: 0; }

.ghost {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(0%) translateY(50%);
  font-family: Raleway;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  border: 0.12em solid #fff;
  padding: 0.2em 0.3em;
  width: 5.7em;
  -webkit-transition: color 300ms, background 500ms, border-color 700ms;
  transition: color 300ms, background 500ms, border-color 700ms;
  text-align: center;
  text-decoration: none; }

.ghost:hover {
  background: #fe4214;
  border-color: #fe4214;
  color: #212d40; }

.about h1 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  display: inline-block;
  text-align: center;
  margin-top: 1.8em;
  font-family: Merriweather;
  font-size: 2.5em; }
  .about h1::after {
    clear: both;
    content: "";
    display: table; }
  .about h1:last-child {
    margin-right: 0; }

.about p {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  text-align: justify; }

.work h1 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 1.8em;
  margin-bottom: 1em;
  font-family: Merriweather;
  font-size: 2.5em; }
  .work h1::after {
    clear: both;
    content: "";
    display: table; }
  .work h1:last-child {
    margin-right: 0; }

.project-box {
  margin-left: 8%;
  margin-right: 8%; }

.surf-nav, .calc-nav, .benchmark-nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .surf-nav::after, .calc-nav::after, .benchmark-nav::after {
    clear: both;
    content: "";
    display: table; }
  .surf-nav:last-child, .calc-nav:last-child, .benchmark-nav:last-child {
    margin-right: 0; }

.surf-screen, .cal-screen, .benchmark-screen {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  width: 100%; }
  .surf-screen:last-child, .cal-screen:last-child, .benchmark-screen:last-child {
    margin-right: 0; }

.surf-button, .calc-button, .benchmark-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  width: 100%;
  margin-top: .5em;
  text-align: center; }
  .surf-button:last-child, .calc-button:last-child, .benchmark-button:last-child {
    margin-right: 0; }

.work-ghost {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 4em;
  margin: .2em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(0%) translateY(0%);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #212d40;
  border: 0.12em solid #212d40;
  padding: 0.3em 0.4em;
  -webkit-transition: color 300ms, background 500ms, border-color 700ms;
  transition: color 300ms, background 500ms, border-color 700ms;
  text-align: center;
  text-decoration: none; }

.work-ghost:hover {
  background: #fe4214;
  border-color: #fe4214;
  color: #212d40; }

.skills h1 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 1.8em;
  margin-bottom: 1em;
  font-family: Merriweather;
  font-size: 2.5em; }
  .skills h1::after {
    clear: both;
    content: "";
    display: table; }
  .skills h1:last-child {
    margin-right: 0; }

dl {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  margin-bottom: 1.8em; }
  dl::after {
    clear: both;
    content: "";
    display: table; }
  dl:last-child {
    margin-right: 0; }

dl dt {
  float: left;
  clear: both;
  width: 300px;
  max-width: 360px;
  padding: 10px;
  border-top: 1px dotted #11151c;
  text-align: right;
  font-size: 1.25em;
  font-family: Merriweather; }

dl dd {
  width: auto;
  float: left;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 0 15px;
  background-color: #fe4214;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: Raleway;
  margin-bottom: .75em; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 26em;
  background-color: #212d40; }
  footer:last-child {
    margin-right: 0; }

footer h1 {
  padding: 32px;
  text-align: center;
  color: white; }

footer {
  padding: 32px;
  text-align: center;
  color: white; }

#wrap a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 60px;
  color: #212d40;
  background-color: #fff; }

a .fa {
  font-size: 37px;
  margin: auto;
  height: 100%;
  width: 100%;
  line-height: 60px; }

#wrap a:hover {
  background-color: #fe4214; }

.social-icon {
  text-align: center;
  padding-top: 30px; }

.personal-info {
  font-family: Merriweather; }

.personal-info a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Merriweather; }

.personal-info a:hover {
  color: #fe4214; }

.personal-info p {
  color: white; }

.phone-email {
  text-align: center; }

.phone-email a {
  display: inline-block; }

.random-p {
  display: inline-block;
  padding: 1px; }

/*# sourceMappingURL=main.css.map */
