///Bourbon-Neat Settings///

@import 'bourbon/bourbon';
// $visual-grid: true;
@import 'neat/neat';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$large: new-breakpoint(min-width 841px);
$tablet: new-breakpoint(min-width 501px max-width 840px  8);
$mobile: new-breakpoint(max-width 500px 4);

///////Colors & Font/////////

$tangaroa-blue: #212d40;
$primary-color: $tangaroa-blue;

$orange-red: #fe4214;
$secondary-color: $orange-red;

$merriweather: 'Merriweather', serif;
$primary-font: Merriweather;

$Raleway: 'Raleway', sans-serif;
$secondary-font: Raleway;

//////Global CSS//////
h1 {
  @include outer-container;
  @include span-columns(12);
  display: inline-block;
  text-align: center;
  font-family: $primary-font;
  font-size: 2.5em;
}

//////////Mixins/////////

@mixin ghost-button-position {
  display: inline-block;
  position: relative;
  margin-top: 1em;
}

@mixin ghost-button-text-styles {
  font-family: $secondary-font;
  font-size: 1em;
  color: #fff;
}

@mixin ghost-button-modify-text {
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

@mixin ghost-button-border {
  border: 0.12em solid #fff;
  padding: 0.2em 0.3em;
  width: 5.7em;
}

@mixin ghost-button-animate {
  -webkit-transition: color 300ms, background 500ms, border-color 700ms;
  transition: color 300ms, background 500ms, border-color 700ms;
  text-align: center;
  text-decoration: none;
}

/////header/////
header {
  @include span-columns(12);
  height: 34em;
  background-color: $primary-color;
  @include media($mobile) {
    height: 38em;
  }
}

img {
  width:100%;
  height:100%;
  background:url(logo.png) center center no-repeat;
}

.logo {
  width: 14em;
  height: 18em;
  padding-top: 3.6em;
  margin: 0 auto;
}

.header-words h1 {
  color: white;
  text-align: center;
  font-size: 3.1em;
  margin-top: .5em;
  font-family: $primary-font;
}

.header-words h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  font-family: $secondary-font;
}


///header buttons///
.header-buttons {
  @include span-columns(12);
  text-align: center;
  @include media($mobile) {
    @include span-columns(3);
    margin-left: 12%;
  }
}

.ghost {
  @include ghost-button-position;
  @include ghost-button-text-styles;
  @include ghost-button-modify-text;
  @include ghost-button-border;
  @include ghost-button-animate;
  @include media($mobile) {
    margin-top: .8em;
    width: 6.7em;
  }
}

.ghost:hover {
  background: $orange-red;
  border-color: $orange-red;
  color: $primary-color;
}

///about section///
.about h1 {
  margin-top: 1.8em;
  margin-bottom: 1em;
}

.about p {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
  font-family: $secondary-font;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  text-align: justify;
  @include media($mobile) {
  }
}

///work section///
.work h1 {
  margin-top: 1.8em;
  margin-bottom: 1em;
}

.project-box {
  margin-left: 8%;
  margin-right: 8%;
}

.surf-nav, .calc-nav, .benchmark-nav {
  @include outer-container;
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(4);
  }
}

.surf-screen, .cal-screen, .benchmark-screen {
  @include span-columns(4);
  width: 100%;
  @include media($mobile) {
    @include span-columns(4);
    width: 100%;
  }
}

.surf-button, .calc-button, .benchmark-button {
  @include span-columns(4);
  display: inline-block;
  width: 100%;
  margin-top: .5em;
  text-align: center;
  @include media($mobile) {

  }
}

.work-ghost {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 4em;
  margin: .2em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: $primary-color;
  border: 0.12em solid $primary-color;
  padding: 0.3em 0.4em;
  @include ghost-button-animate;
}

.work-ghost:hover {
  background: $orange-red;
  border-color: $orange-red;
  color: $primary-color;
}


///skills section///
.skills {
  @include media($mobile) {
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -webkit-center;
    text-align: center;
  }
}

.skills h1 {
  margin-top: 1.8em;
  margin-bottom: 1em;
}

dl {
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  margin-left: 25%;
  margin-bottom: 1.8em;
  @include media($mobile) {
    width: auto;
    margin-left: 0;
    text-align: center;
    float: none;
  }
}

dt {
  float: left;
  clear: both;
  width: 300px;
  max-width: 360px;
  padding: 10px;
  border-top: 1px dotted #11151c;
  text-align: right;
  font-size: 1.25em;
  font-family: $primary-font;
  @include media($mobile) {
    text-align: center;
    float: none;
    width: auto;
    max-width: none;
  }
}

dd {
  width: auto;
  float: left;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 0 15px;
  background-color: $orange-red;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: $secondary-font;
  margin-bottom: .75em;
  @include media($mobile) {
    float: none;
    width: 7em;
    display: -webkit-inline-box;
    text-align: -webkit-center;
  }
}

///footer///
footer {
  @include span-columns(12);
  height: 26em;
  background-color: $primary-color;;
}

footer h1 {
  margin-top: 1.8em;
  margin-bottom: 1em;
}

footer  {
  padding: 32px;
  text-align: center;
  color: white;
}
#wrap a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 60px;
  color: $primary-color;
  background-color: #fff;
}

a .fa {
  font-size: 37px;
  margin: auto;
  height: 100%;
  width: 100%;
  line-height: 60px;
}

#wrap a:hover {
  background-color: $orange-red;
}

.social-icon {
  text-align: center;
  padding-top: 30px;
}

.personal-info {
  font-family: $primary-font;
}

.personal-info a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: $primary-font;
}

.personal-info a:hover {
  color: $orange-red;
}

.personal-info p {
  color: white;
}

.phone-email {
  text-align: center;
}

.phone-email a {
  display: inline-block;
}

.random-p {
  display: inline-block;
  padding: 1px;
}
