///Bourbon-Neat Settings///

@import 'bourbon/bourbon';
$visual-grid: true;
@import 'neat/neat';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* $large: new-breakpoint(min-width 841px);
$tablet: new-breakpoint(min-width 501px max-width 840px 8);
$mobile: new-breakpoint(max-width 500px 4); */

///////////////////////////

$tangaroa-blue: #212d40;
$primary-color: $tangaroa-blue;

$orange-red: #fe4214;
$secondary-color: $orange-red;

/* $Raleway: 'Raleway', sans-serif;
$primary-font: Raleway;

$oswald: 'Oswald', sans-serif;
$secondary-font: oswald; */

@mixin ghost-button-position {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(0%) translateY(50%);
}

@mixin ghost-button-text-styles {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #fff;
}

@mixin ghost-button-modify-text {
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

@mixin ghost-button-border {
  border: 0.12em solid #fff;
  padding: 0.2em 0.3em;
}

@mixin ghost-button-animate {
  -webkit-transition: color 300ms, background 500ms, border-color 700ms;
  transition: color 300ms, background 500ms, border-color 700ms;
  text-align: center;
  text-decoration: none;
}


*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


///header///
header {
  @include span-columns(12);
  height: 32em;
  background-color: $tangaroa-blue;
}

.logo {
  @include outer-container;
  @include span-columns(2);
  @include shift(5);
  padding-top: 4em;
}

.header-words {
  @include outer-container;
  @include span-columns(4);
  @include shift(4);
  color: white;
  text-align: center;
}

.header-words h1 {
  font-size: 3.4em;
  margin-top: 0.4em;
}

.header-words h2 {
  font-size: 2em;
  font-weight: 100;
}


///header buttons///
.header-buttons {
  @include outer-container;
  @include span-columns(4);
  @include shift(4);
  text-align: center;
}

.ghost {
  @include ghost-button-position;
  @include ghost-button-text-styles;
  @include ghost-button-modify-text;
  @include ghost-button-border;
  @include ghost-button-animate;
}

.ghost:hover {
  background: $orange-red;
  border-color: $orange-red;
  color: $tangaroa-blue;
}

///middle section///
/* .about,
.work,
.skills {
  height: 200px;
}

.about h1,
.work h1,
.skills h1 {
  text-align: center;
  color: $tangaroa-blue;
  font-size: 45px;
}

p {
  padding-left: 180px;
  padding-right: 180px;
  color: $tangaroa-blue;
  font-size: 25px;
} */

///about section///
.about {
  @include outer-container;
  text-align: center;
}

///work section///
.work {
  @include outer-container;
  height: 350px;
  text-align: center;
}

.surf-nav {
  @include span-columns(4);
  border: 0.12em solid red;
}

.cal-nav {
  @include span-columns(4);
  border: 0.12em solid red;
}

.benchmark-nav {
  @include span-columns(4);
  border: 0.12em solid red;
}

.work-ghost {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(0%) translateY(50%);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: $tangaroa-blue;
  border: 0.12em solid $tangaroa-blue;
  padding: 0.2em 0.3em;
  @include ghost-button-animate;
}

.work-ghost:hover {
  background: $orange-red;
  border-color: $orange-red;
  color: $tangaroa-blue;
}

///skills section///
.skills {
  @include outer-container;
  text-align: center;
}

.skills-logos {
  @include span-columns(2);
  @include omega();
}

///footer///
footer {
  @include span-columns(12);
  height: 370px;
  background-color: $tangaroa-blue;
}

footer h1 {
  padding: 32px;
  text-align: center;
  color: white;
}

footer h2 {
  padding: 32px;
  text-align: center;
  color: white;
}


#wrap a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 60px;
  color: $tangaroa-blue;
  background-color: #fff;
}

a .fa {
  font-size: 37px;
  margin: auto;
  height: 100%;
  width: 100%;
  line-height: 60px;
}

#wrap a:hover {
  background-color: $orange-red;
}

.social-icon {
  text-align: center;
  padding-top: 30px;
}

.personal-info {
  font-family: 'Raleway', sans-serif;
}

.personal-info a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.personal-info a:hover {
  color: $orange-red;
}

.personal-info p {
  color: white;
}

.phone-email {
  text-align: center;
}

.phone-email a {
  display: inline-block;
}

.random-p {
  display: inline-block;
  padding: 1px;
}
